body {
  background: #233047;
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

.time-icon {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 50px;
  border-radius: 50%;
}