/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  max-width: 100vw;
  height: 100vh;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #D4DBF5;
}

.container {
  width: 80vw;
  max-width: 1110px;
  margin: 0 auto;
}

.margin-y-48 {
  margin: 48px 0;
}

.hidden {
  display: none;
}

/* Header */
header {
  background-color: #5F0BE0;
  padding: 20px 0;
}

header h1 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  color: #FFF;
  white-space: nowrap;
}

/* Main */
main {
  padding-bottom: 5px;
  position: relative;
}

main h2 {
  font-size: 3.2rem;
}

main .image-container {
  width: 40vw;
  min-width: 600px;
  position: absolute;
  right: 5px;
  bottom: 20px;
  z-index: -1;
}

/* Final Score Container */
.final-score-container {
  background-color: #FFF;
  padding: 15px 0;
}

.final-score-container p {
  font-size: 2.5rem;
  text-align: center;
}

.final-score-container strong {
  font-size: 3.5rem;
  color: #007BFF;
}

/* Form */
form fieldset {
  border: none;
}

form fieldset legend {
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 500;
}

form fieldset label {
  font-size: 2rem;
  font-weight: 300;
}

form input {
  margin-right: 10px;
}

form button[type="submit"] {
  display: block;
  width: 20%;
  min-width: 180px;
  margin: 0 auto 20px;
  padding: 10px 0;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #007BFF, #007bffab);
  border-radius: 4px;
  outline: none;
  box-shadow: 2px 2px 4px rgba(88, 86, 86, 0.452);
  transition: transform 200ms;
}

form button[type="submit"]:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 800px) {
  header h1 {
    font-size: 4rem;
  }

  main h2 {
    font-size: 2.5rem;
  }

  button {
    font-size: 1.8rem;
  }
}

/* Animate */
/* @keyframes float-image {
  from {
    margin-bottom: 30px;
  } to {
    margin-bottom: 20px;
  }
} */