* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(/assets/icons/bg.svg);
  background-position: right;
  background-attachment: fixed;
}

:root {
  --header-background: #2b4162;
  --bright-color: #fff;
  --green-background: #0b6e4f;
  --quiz-background: rgba(255, 255, 255, 0.315);
  --shadow:rgba(5, 4, 4, 0.288);
}

.container {
  width: 80%;
  margin: 0 auto;
}