.quiz-form {
  background-color: var(--quiz-background);
  margin-top: 50px;
  padding: 40px;
  width: 30%;
  min-width: 300px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 3px var(--shadow);
}

.quiz-form fieldset {
  border: none;
}

.quiz-form legend {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.question {
  padding: 10px 0;
}

.feedback {
  margin: 15px 0;
  text-align: center;
}

.btn-send-answers {
  background-color: var(--green-background);
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  color: var(--bright-color);
  padding: 10px;
  border-radius: 4px;
}