body {
  background-color: #212121;
}

.clock-container {
  font-size: 4em;
  text-align: center;
  margin: 200px auto 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif
}

.clock-container span {
  padding: 20px;
  background-color: #006ce6;
  border-radius: 10px;
}