body {
	background-color: #eee;
}

h1 {
	text-align: center;
}

form {
	max-width: 200px;
	margin: 40px auto;
	background-color: white;
	padding: 10px;
}

input, button {
	display: block;
	margin: 10px auto;
	padding: 4px;
}

input {
	border: 1px solid #ddd;
	outline: none;
}

.sucess {
	border: 2px solid green;
}

.error {
	border: 2px solid red;
}